body {
  margin: 0;
  padding: 0;
  background-image: url('https://www.transparenttextures.com/patterns/cartographer.png');
  background-color: #d5d2ce;
  font-family: 'Inter', sans-serif;
}

.profile {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

.descr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.button {
  background-color: #e5cdb8;
  color: white;
  border-radius: 20px;
  height: 40px;
  border: none;
  margin: 5px 0 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #d4c9c2;
}
